<div class="tab-content primary" id="myTabContent1">
        <div class="tab-pane fade active show">
    <div class="row margin-0">
        <div class="col-xl-6">
            <section class="box nobox ">
                <div class="content-body">  
                  <div class="row">
                   <div class="col-12">
                         <div id="accordion" role="tablist" class="accordion-group">
                            <h2>
                                Immunizations                                   
                            </h2>
                            <div>
                                <div class="card"  *ngFor="let immunization of immunizationsArray">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-row">
                                                    <a  class="showSingle" target="1">                                                        
                                                        <!-- <h5><span class="spancolor">{{immunization.resource.date| date: 'yyyy'}}               -{{immunization.resource.vaccineCode.text}}</span></h5>   -->
                                                        <h5><span class="spancolor">{{immunization.ImmunizationsDate| date: 'yyyy'}}               -{{immunization.ImmunizationsDesc}}</span></h5>  
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>  

                            </div>
                                                     
                        </div> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
     </div>
</div>



