<div class="tab-content primary" id="myTabContent1">
        <div class="tab-pane fade active show" id="profile-1">
            <div class="row">
                <div class="col-xl-6">
                        <section class="box nobox ">
                            <div class="content-body">  
                                <div class="row">
                                    <div class="col-12">
                                        <div id="accordion" role="tablist" class="accordion-group">
                                            <h2>
                                                Social
                                            </h2>
                                                <div class="card" *ngFor="let patientsocial of patientsocialss">
                                                    <div class="card-header" role="tab" id="headingTwo">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-row">
                                                                    <a  class="showSingle" target="3">
                                                                        <h5> <span class="spancolor">{{patientsocial.Addiection}}</span> {{patientsocial.Frequency}} | {{patientsocial.Duration}}
                                                                        </h5>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>                                           
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </section>
                </div> 
                <div class="col-xl-6">
                        <section class="box nobox ">
                        <div class="content-body">  
                            <div class="row">
                                <div class="col-12">
                                    <div id="accordion" role="tablist" class="accordion-group">
                                        <h2>
                                        Family
                                        </h2>
                                        <div class="card" *ngFor="let patientFamily of patientFamilyss">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-row">
                                                            <a  class="showSingle" target="3">
                                                                <h5> <span class="spancolor">{{patientFamily.Member}}</span> -{{patientFamily.Diseases}}
                                                                </h5>
                                                            </a>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </section>
                </div>  
            </div>           
        </div>
    </div>
    
     
