<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div>
<div>
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row" >

            <div class='col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START --><h1 class="title">Master</h1><!-- PAGE HEADING TAG - END -->                            </div>

                    

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xl-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Add Reason Master</h2>
                     
                    </header>
                    <div class="content-body">
                            <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                     <form [formGroup]="reasonForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">Type:<span class="text-danger"> *</span></label>
                                                <!-- <input type="text" class="form-control" > -->
                                                <select class="form-control" formControlName="TYPE" >
                                                    <option value="">Select Type</option>
                                                     <option value="-1">Appointment</option>
                                                     <option value="-2">Reschedule</option>
                                                     <option value="1">Cancel By Doctor</option>
                                                     <option value="2">Cancel By Patient</option>
                                                     <option value="3">Remove</option>
                                                     <option value="4">Noshow</option>
                                                </select>
                                                <span class="text-danger" *ngIf="reasonForm.hasError('required', ['TYPE']) && formDir.submitted">
                                                    Type is required.
                                                </span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputPassword4">Code <span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control" formControlName="REASONCODE">
                                                <span class="text-danger" *ngIf="reasonForm.hasError('required', ['REASONCODE']) && formDir.submitted">
                                                    Code is required.
                                                </span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputPassword4">Description <span class="text-danger"> *</span></label>
                                                <textarea class="form-control" cols="5" rows="1" id="field-6" formControlName="REASONDESCRIPTOON"></textarea>
                                                <span class="text-danger" *ngIf="reasonForm.hasError('required', ['REASONDESCRIPTOON']) && formDir.submitted">
                                                    Description is required.
                                                </span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputPassword4">&nbsp;</label>
                                                <br>
                                                <button type="submit" class="btn btn-primary ">Finish</button>
                                                <button type="button"  class="btn"  [routerLink]="['/app-reason']">Cancel</button>
                                               </div>
                                        </div>

                                    </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section></div>


            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>