<div>
    <form id="reactive" [formGroup]="diagFormGroup">
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="service">Date:</label>
                    <div class="col-sm-8">
                        <input type="text" 
                        class="form-control" 
                        placeholder="select Date" 
                        bsDatepicker 
                        formControlName="DiagDate" 
                        [(ngModel)] = "DiagDate"
                      />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="service">Service:</label>
                    <div class="col-sm-8">
                          <select class="form-control" name="" id="service" formControlName="Service" (change)="onServiceChange($event)">
                              <option value="">--Select--</option>
                            <option *ngFor="let item of services" value="{{item.ServiceID}}"> {{item.ServiceName}} </option>
                          </select>
                    </div>
                </div>
               
            </div>
        </div>
    
        <div>
            
        </div>
    
        <div class="form-group row">		
            <label class="col-sm-3 col-form-label">Select Files:</label>
            <div class="col-sm-8" style="color: white;">
                <app-file-upload [files]="files"></app-file-upload>
            </div>
        </div>    
    
        <div class="row">
            <div class="col-sm-3">
                <button kendoButton class="btn btn-success btn-corner" style="width:120px; font-size: 16px;"
                (click)="SaveDiagUpload('ModelDiagnosis')"  [disabled]="!diagFormGroup.valid">Save</button>
            </div>
            <div class="col-sm-3">
                <button kendoButton class="btn btn-success btn-corner" style="width:120px; font-size: 16px;"
                (click)="closeModelDiagnosis('ModelDiagnosis')">Close</button>
            </div>
        </div>
    </div>
    </form>
    </div>