<div class="tab-content primary" id="myTabContent1">
    <div class="tab-pane fade active show">
        <div class="row margin-0">
        <div class="col-xl-6">
            <section class="box nobox ">
                <div class="content-body">  
                    <div class="row">
                        <div class="col-12">
                            <div id="accordion" role="tablist" class="accordion-group">
                                <h2>
                                    Allergies                                   
                                </h2>
                                <div class="card" *ngFor="let allergi of allergy">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-row">
                                                    <a  class="showSingle" target="1">
                                                        <h5><span class="spancolor">{{allergi.AllergiesDesc}}</span></h5>   
                                                        <!-- <div *ngFor="let reaction of allergi.resource.reaction">                                                   
                                                            <div *ngFor="let manifest of reaction.manifestation">
                                                                <h5><span class="spancolor">{{manifest.text}}</span></h5>
                                                            </div>
                                                        </div>                                          -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
</div>


