<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div>

<div>
    <section id="main-content" class="sidebar_shift">
        <section class="wrapper main-wrapper row">

            <div class='col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Master</h1><!-- PAGE HEADING TAG - END -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-xl-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Other Master</h2>
                        <h2 class="title float-right h5 pr-2"><button type="button" class="btn btn-success btn-corner"
                            [routerLink]="['/app-add-general']"><span class="h5">Add</span></button>
                        </h2>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12"> 

                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">Type:</label>
                                                <select class="form-control" name="" id="TypeId" formControlName="Type" selected (change)="selectChange($event)">
                                                    <option value="">--Select--</option>
                                                  <option *ngFor="let item of Types" value="{{item.ID}}"> {{item.NAME}} </option>
                                                </select>
                                                <!-- <input type="text" class="form-control" > -->
                                            </div>
                                        </div>

                                    </form>
                                    </div>

                                    <div class="col-md-12 col-lg-12 col-xl-12" >
                                        <table class="table table-striped dt-responsive display" 
                                        cellspacing="0" width="100%">
                                            <thead style="background: #678680;">
                                                <tr>
                                                    <th style="display: none;">Type ID</th>
                                                    <th>Type</th>
                                                    <th>Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let Other of Others">
                                                <tr>
                                                    <td style="display: none;">{{Other.ID}}</td>
                                                    <td>
                                                        {{Other.TYPE}}
                                                    </td>
                                                    <td>
                                                        {{Other.Name}}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary youtube ">
                                                            <i class="fa fa-trash-o text-white" (click)="deleteOther(Other.ID)"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section></div>
            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
</div>