<div class="container-fluid">
    <div class="login-wrapper row">
        <div class="login loginpage offset-xl-4 offset-lg-3 offset-md-3 offset-0 col-12 col-md-6 col-xl-4">                   
            <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
            <ul class="list-unstyled notification-widget">
                <li class="status-available" *ngFor="let user of userList">
                    <a href="javascript:;" (click)="onClick(user.doctorName,user.doctorImage)">
                        <div class="user-img">
                            <!-- <img src="{{user.DoctorImage}}" alt="user-image" class="rounded-circle img-inline"> -->
                            <!-- <img src="../../assets/images/{{user.DoctorImage}}" alt="user-image" class="rounded-circle img-inline"> -->
                            <img src="{{user.doctorImage}}" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>{{user.doctorName}}</strong>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="status-available">
                    <a href="javascript:;" (click)="onClick('', '')">
                        <div class="user-img">
                            <img src="assets/images/icons8-male-user-50.png" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>Add Account</strong>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>	                   	 
        </div>
    </div>
</div>
