<div>
    <form id="reactive" [formGroup]="ProcFormGroup">
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="service">Doctor:</label>
                    <div class="col-sm-8">
                        <div class="col-sm-8"> 
                            <span class="form-control" formControlName="DoctorName" >{{DoctorName}}</span>   
                        </div>                        
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="service">Date:</label>
                    <div class="col-sm-8">
                        <input type="text" 
                        class="form-control" 
                        placeholder="select Date" 
                        bsDatepicker 
                        formControlName="ProcedureDate" 
                        [(ngModel)] = "ProcedureDate"
                      />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="service">Procedure Desc:</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" formControlName="ProcedureDesc" [(ngModel)]="ProcedureDesc" >
                    </div>
                </div>
               
            </div>
        </div>
    
        <div>
            
        </div>

        <div class="form-group row">		
            <label class="col-sm-3 col-form-label">Select Files:</label>
            <div class="col-sm-8" style="color: white;">
                <app-file-upload [files]="files"></app-file-upload>
            </div>
        </div>        
    
        <div class="row">
            <div class="col-sm-3">
                <button kendoButton class="btn btn-success btn-corner" style="width:120px; font-size: 16px;"
                (click)="SaveProcedureUpload('ModelProcedure')"  [disabled]="!ProcFormGroup.valid">Save</button>
            </div>
            <div class="col-sm-3">
                <button kendoButton class="btn btn-success btn-corner" style="width:120px; font-size: 16px;"
                (click)="closeModelProcedure('ModelProcedure')">Close</button>
            </div>
        </div>
    </div>
    </form>
    </div>